.app {
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display SC', serif;

}

.container .btn1 {
    font-weight: bold;
    font-size: large;
    font-family: 'DM Serif Display', serif;
    font-family: 'Playfair Display SC', serif;
}